body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: NanumGothic;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #071923;
}

html {
  font-size: 10px;
}

/* font - 나눔고딕 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

body,
button,
input {
  font-family: "Nanum Gothic", sans-serif !important;
}

/* 스크롤 막대 숨기기 */
body::-webkit-scrollbar {
  display: none;
}

/* anchor text-decoration none으로 설정 */
a {
  text-decoration: none;
}

.cateBtn.cateAll {
  width: 2rem;
  height: 2rem;
  background-color: #60ffda;
}

.cateBtn {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 9px 0 #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}

.clicked {
  display: block;
  width: 2rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 #60ffda;
  background-color: #60ffda;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cateBtn {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    box-shadow: 0 0 7px 0 #ffffff;
  }

  .clicked {
    width: 0.9rem;
    height: 0.9rem;
    padding: 0;
    box-shadow: 0 0 10px 0 #60ffda;
  }

  .cateBtn.cateAll {
    width: 0.9rem;
    height: 0.9rem;
  }
}
